= form_tag update_user_option_path, remote: true, method: :patch do
  = select_tag :span, options_for_select( { 'Daily' => 0, 'Weekly' => 100, 'Monthly' => 200 }, current_user.span )
  = submit_tag 'Save'
= link_to 'Top', '/'
